#finance-data{
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#finance-root{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#finance-head-root{
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#header{
  color: white;
  font-size: 30pt;
  font-weight: bold;
  margin-left: 5%;
  margin-bottom:0;
  margin-top: 2%;
}

#inputBox{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-top: 1%;
  width: 40%;
}

#inputRow{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

#outputBox{
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

#userBox{
  flex: 5; 
  display: "flex"; 
  flex-direction: "column";
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 0;
  margin-right: 2%;
}

#incomeBox{
  flex: 5; 
  display: "flex"; 
  flex-direction: "column";
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 1%;
}

#userDiv{
  text-align: right;
}

#purchasesBox{
  flex: 5; 
  display: "flex"; 
  flex-direction: "column";

  border-radius: 10px;
  border: 3px solid white;
  margin-left: 1%;
  margin-top: 1%;
}

#spendingInfoBox{
  height: 160px;
  width: 830px;
  border: 3px solid white;
  border-radius: 10px;
  margin-left: 2%;
}

#graphBox{
  height: 380px;
  width: 770px;
  border: 3px solid white;
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 1%;
  padding: 30px;
}


.addButton {
  margin-left: 20px;
  margin-top: 10px;
}

.boxHeader{
  color: white;
  font-size: 25pt;
  /*font-weight: bold;*/
  text-decoration: underline;
  margin-left: 20px;
  margin-top: 1%;
  margin-bottom: 0px;
}

.usernameHeader{
  color: white;
  font-size: 25pt;
  /*font-weight: bold;*/
  margin-left: 20px;
  margin-top: 1%;
  margin-bottom: 0%;
}

.instruction{
  margin-left: 20px;
  font-size: 14pt;
  color: white;
}

.paragraphText{
  margin-left: 20px;
  font-size: 14pt;
  color: white;
}

.incomeType{
  margin-left: 60px;
  font-size: 14pt;
  margin-top: 1%;
  color: white;
}



